SOAP_Mobile/Web References/com.riskprofiling.www/CaptchaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Start">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numberOfImages" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StartResponse">
        <s:complexType />
      </s:element>
      <s:element name="Image">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="imageIndex" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImageResponse">
        <s:complexType />
      </s:element>
      <s:element name="Audio">
        <s:complexType />
      </s:element>
      <s:element name="AudioResponse">
        <s:complexType />
      </s:element>
      <s:element name="Try">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TryResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="StartSoapIn">
    <wsdl:part name="parameters" element="tns:Start" />
  </wsdl:message>
  <wsdl:message name="StartSoapOut">
    <wsdl:part name="parameters" element="tns:StartResponse" />
  </wsdl:message>
  <wsdl:message name="ImageSoapIn">
    <wsdl:part name="parameters" element="tns:Image" />
  </wsdl:message>
  <wsdl:message name="ImageSoapOut">
    <wsdl:part name="parameters" element="tns:ImageResponse" />
  </wsdl:message>
  <wsdl:message name="AudioSoapIn">
    <wsdl:part name="parameters" element="tns:Audio" />
  </wsdl:message>
  <wsdl:message name="AudioSoapOut">
    <wsdl:part name="parameters" element="tns:AudioResponse" />
  </wsdl:message>
  <wsdl:message name="TrySoapIn">
    <wsdl:part name="parameters" element="tns:Try" />
  </wsdl:message>
  <wsdl:message name="TrySoapOut">
    <wsdl:part name="parameters" element="tns:TryResponse" />
  </wsdl:message>
  <wsdl:message name="StartHttpGetIn">
    <wsdl:part name="numberOfImages" type="s:string" />
  </wsdl:message>
  <wsdl:message name="StartHttpGetOut" />
  <wsdl:message name="ImageHttpGetIn">
    <wsdl:part name="imageIndex" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ImageHttpGetOut" />
  <wsdl:message name="AudioHttpGetIn" />
  <wsdl:message name="AudioHttpGetOut" />
  <wsdl:message name="TryHttpGetIn">
    <wsdl:part name="value" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TryHttpGetOut" />
  <wsdl:message name="StartHttpPostIn">
    <wsdl:part name="numberOfImages" type="s:string" />
  </wsdl:message>
  <wsdl:message name="StartHttpPostOut" />
  <wsdl:message name="ImageHttpPostIn">
    <wsdl:part name="imageIndex" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ImageHttpPostOut" />
  <wsdl:message name="AudioHttpPostIn" />
  <wsdl:message name="AudioHttpPostOut" />
  <wsdl:message name="TryHttpPostIn">
    <wsdl:part name="value" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TryHttpPostOut" />
  <wsdl:portType name="CaptchaServiceSoap">
    <wsdl:operation name="Start">
      <wsdl:input message="tns:StartSoapIn" />
      <wsdl:output message="tns:StartSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Image">
      <wsdl:input message="tns:ImageSoapIn" />
      <wsdl:output message="tns:ImageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Audio">
      <wsdl:input message="tns:AudioSoapIn" />
      <wsdl:output message="tns:AudioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Try">
      <wsdl:input message="tns:TrySoapIn" />
      <wsdl:output message="tns:TrySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CaptchaServiceHttpGet">
    <wsdl:operation name="Start">
      <wsdl:input message="tns:StartHttpGetIn" />
      <wsdl:output message="tns:StartHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Image">
      <wsdl:input message="tns:ImageHttpGetIn" />
      <wsdl:output message="tns:ImageHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Audio">
      <wsdl:input message="tns:AudioHttpGetIn" />
      <wsdl:output message="tns:AudioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Try">
      <wsdl:input message="tns:TryHttpGetIn" />
      <wsdl:output message="tns:TryHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CaptchaServiceHttpPost">
    <wsdl:operation name="Start">
      <wsdl:input message="tns:StartHttpPostIn" />
      <wsdl:output message="tns:StartHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Image">
      <wsdl:input message="tns:ImageHttpPostIn" />
      <wsdl:output message="tns:ImageHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Audio">
      <wsdl:input message="tns:AudioHttpPostIn" />
      <wsdl:output message="tns:AudioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Try">
      <wsdl:input message="tns:TryHttpPostIn" />
      <wsdl:output message="tns:TryHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CaptchaServiceSoap" type="tns:CaptchaServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Start">
      <soap:operation soapAction="http://tempuri.org/Start" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Image">
      <soap:operation soapAction="http://tempuri.org/Image" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Audio">
      <soap:operation soapAction="http://tempuri.org/Audio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Try">
      <soap:operation soapAction="http://tempuri.org/Try" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CaptchaServiceSoap12" type="tns:CaptchaServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Start">
      <soap12:operation soapAction="http://tempuri.org/Start" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Image">
      <soap12:operation soapAction="http://tempuri.org/Image" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Audio">
      <soap12:operation soapAction="http://tempuri.org/Audio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Try">
      <soap12:operation soapAction="http://tempuri.org/Try" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CaptchaServiceHttpGet" type="tns:CaptchaServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Start">
      <http:operation location="/Start" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="Image">
      <http:operation location="/Image" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="Audio">
      <http:operation location="/Audio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="Try">
      <http:operation location="/Try" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CaptchaServiceHttpPost" type="tns:CaptchaServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Start">
      <http:operation location="/Start" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="Image">
      <http:operation location="/Image" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="Audio">
      <http:operation location="/Audio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="Try">
      <http:operation location="/Try" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CaptchaService">
    <wsdl:port name="CaptchaServiceSoap" binding="tns:CaptchaServiceSoap">
      <soap:address location="https://www.riskprofiling.com/Webcoda/CMSFormControls/Captcha/CaptchaService.asmx" />
    </wsdl:port>
    <wsdl:port name="CaptchaServiceSoap12" binding="tns:CaptchaServiceSoap12">
      <soap12:address location="https://www.riskprofiling.com/Webcoda/CMSFormControls/Captcha/CaptchaService.asmx" />
    </wsdl:port>
    <wsdl:port name="CaptchaServiceHttpGet" binding="tns:CaptchaServiceHttpGet">
      <http:address location="https://www.riskprofiling.com/Webcoda/CMSFormControls/Captcha/CaptchaService.asmx" />
    </wsdl:port>
    <wsdl:port name="CaptchaServiceHttpPost" binding="tns:CaptchaServiceHttpPost">
      <http:address location="https://www.riskprofiling.com/Webcoda/CMSFormControls/Captcha/CaptchaService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>